.nav {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  background: palegreen;
  border-radius: 15px;
}

.nav img {
  display: block;
  height: 50px;
  width: 82px;
}

.nav p {
  font-size: 1.2rem;
  line-height: 35px;
  color: #444;
  font-family: 'PT Serif', sans-serif;
  margin: 0;
}

.nav div {
  display: inline-flex;
  width: 80px;
  height: 24px;
  margin: 0 20px 0 0;
  outline: 0;
}
